.main {
    padding: 32px;
}
.text {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 24px;
}
.controls {
    display: grid;
    grid-template-columns: 1fr 250px 50px;
    gap: 8px;
    margin-bottom: 30px;
}
